/* Tables */
.playertablecard {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  height: 96px;
}

.cardontable {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
}

#player-tables {
  position: relative;
  width: 710px;
  height: 340px;
  margin: 0 auto;
}

.playertablename {
  font-weight: bold;
}

.playertable {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 130px;
}

.playertable_N {
  left: 50%;
  top: 0px;
  margin-left: -90px; /* half of 180 */
}
.playertable_S {
  left: 50%;
  bottom: 0px;
  margin-left: -90px; /* half of 180 */
}
.playertable_W {
  left: 0px;
  top: 50%;
  margin-top: -55px; /* half of 130 */
}
.playertable_E {
  right: 0px;
  top: 50%;
  margin-top: -55px; /* half of 130 */
}

/* #myhand_wrap {
  margin-top: 55px;
}

.playertablecard {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  width: 72px;
  height: 96px;
}

.cardontable {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
}

#roundInfo {
  width: max-content;
  margin-top: 100px;
}

#bidInfo {
  display: flex;
  margin-top: 5px;
  top: 50%;
  left: 50%;
} */

.player-panel {
  padding: 8px;
}

#trump-indication {
  text-align: center;
  font-size: 2rem;
  padding: 0.5em;
}

#round-indication {
  max-width: 43rem;
  margin: 0 auto;
}
