Tables .playertablecard {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  height: 96px;
}

.cardontable {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
}

#player-tables {
  position: relative;
  width: 710px;
  height: 340px;
  margin: 0 auto;
}

.playertablename {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.playertable {
  position: absolute;
  text-align: center;
  min-width: 180px;
  height: 130px;
}

.playertable_N {
  left: 50%;
  top: 0px;
  margin-left: -90px; /* half of 180 */
}
.playertable_S {
  left: 50%;
  bottom: 0px;
  margin-left: -90px; /* half of 180 */
}
.playertable_W {
  left: 0px;
  top: 50%;
  margin-top: -55px; /* half of 130 */
}
.playertable_E {
  right: 0px;
  top: 50%;
  margin-top: -55px; /* half of 130 */
}

/* #myhand_wrap {
  margin-top: 55px;
}

.playertablecard {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  width: 72px;
  height: 96px;
}

.cardontable {
  position: absolute;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.jpg");
}

#roundInfo {
  width: max-content;
  margin-top: 100px;
}

#bidInfo {
  display: flex;
  margin-top: 5px;
  top: 50%;
  left: 50%;
} */

.player-panel {
  padding: 8px;
}

#trump-indication {
  text-align: center;
  font-size: 2rem;
  padding: 0.5em;
}

#round-indication {
  max-width: 43rem;
  margin: 0 auto;
}

.trick-indication {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(42, 42, 175);
  transition: background-color 0.3s ease;
  /* display: inline-block;
  border-radius: 1px;
  box-shadow: 1px 1px 3px #00000029;
  width: 23px;
  height: 30px;
  background-image: url("img/tricks-indication.png"); */
}

.trick-indication.missing {
  opacity: 0.3;
}

.trick-indication.extra {
  background-color: rgb(250, 29, 29);
}

.trick-indication.good {
  background-color: green;
}

.playertable-info {
  display: flex;
  gap: 3px;
}
